name: Create and publish a Docker image

on:
  release:
    branches: [main]
    types: [published]

env:
  REGISTRY: ghcr.io/dnjooiopa
  RABBITMQ_IMAGE_NAME: rabbitmqtt
  TIMESCALE_IMAGE_NAME: timescaledb

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build rabbitmq image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          context: ./rabbitmq
          file: ./rabbitmq/Dockerfile
          tags: ${{ env.REGISTRY }}/${{ env.RABBITMQ_IMAGE_NAME}}:latest,${{ env.REGISTRY }}/${{ env.RABBITMQ_IMAGE_NAME}}:${{ env.RELEASE_VERSION }}
      - name: Build timescaledb image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          context: ./timescale
          file: ./timescale/Dockerfile
          tags: ${{ env.REGISTRY }}/${{ env.TIMESCALE_IMAGE_NAME}}:latest,${{ env.REGISTRY }}/${{ env.TIMESCALE_IMAGE_NAME}}:${{ env.RELEASE_VERSION }}
